[submodule "bundle/neobundle.vim"]
	path = bundle/neobundle.vim
	url = git@github.com:Shougo/neobundle.vim.git
[submodule "scripts/shell-colors-vim-hybrid"]
	path = scripts/shell-colors-vim-hybrid
	url = https://gist.github.com/0d27cb34e81af344d742.git
